= form_tag "/auth/identity/callback" do
  %fieldset
    %legend Log in
    = label_tag :auth_key, "Email"
    = text_field_tag :auth_key
    = label_tag :password
    = password_field_tag :password
    %br
    = submit_tag "Log in", class: "btn"

%p
  Don't have an account yet?
  = link_to "Register", new_identity_path
  with your email address and a password.
