<article>
	<section>
		<%= h comment.comment %>		
	</section>
	
	<footer>
		<% if comment.user -%>
			<%= comment.user.username %>
		<% elsif comment.name.blank? -%>
			Someone
		<% else -%>
			<%= h comment.name %>
		<% end -%>
		was quite thoughtful, don't you think?
		
		<time pubdate datetime="<%= comment.created_at.to_s(:datetime) %>"><%= comment.created_at.to_s(:simple) %></time>
	</footer>
</article>