<div class="article<%= ' spam-comment' if comment.spam %>">
	<div class="section">
		<%= h comment.comment %>		
	</div>
	
	<div class="footer">
		<span class="time">
  		<% if @is_ajax -%>
  		  Just now!
  		<% else -%>
  		  <%= datetime_simple(comment) %>
  		<% end -%>
		</span>

		<% if comment.user -%>
			<%= link_to(comment.user.username, user_entries_path(comment.user)) %>
		<% elsif comment.name.blank? -%>
			Someone
		<% else -%>
			<%= h comment.name %>
		<% end -%>
		<%= ' (' + comment.ip + ')' if comment.spam %>
		was quite thoughtful, don't you think?
		<% if is_admin -%>
		  - <%= toggle_comment_spam_link(comment.entry, comment) %>
		<% end -%>
	</div> <!-- footer -->
</div> <!-- /article -->
