<section id="add">
	<% form_for @new_entry do |f| %>	
		<%= f.label :noun, 'More ' %>
		<%= f.text_field :noun, :value => 'nouns' %>
	
		<%= f.select :needs, { 'need' => 0, 'needs' => 1 } %>
	
		<%= f.label :verb, ' to ' %>
		<%= f.text_field :verb, :value => 'verb' %> <span>!</span>
	
		<%= f.submit 'This needs to happen' %>
		
		<%= render_error_messages @new_entry %>
	<% end %>
</section>
