<section id="add">
	<% form_for :entry, @new_entry do |f| %>
		<%= f.error_messages %>
	
		<%= f.label :noun, 'More ' %>
		<%= f.text_field :noun, :value => 'nouns' %>
	
		<%= f.label :verb, ' need to ' %>
		<%= f.text_field :verb, :value => 'verb' %> !
	
		<%= f.submit 'This needs to happen' %>
	<% end %>
</section>
