.centered.separated
  = form_for(Entry.new, html: { class: "form-inline" }) do |f|
    = f.label :noun, "More"
    = f.text_field :noun, placeholder: "things"
    = f.select :needs, { "need" => false, "needs" => true }
    = f.label :verb, "to"
    = f.text_field :verb, placeholder: "do stuff"
    !
    = f.submit "This needs to happen", class: "btn btn-inverse"
