<div class="article">
	<div class="header<%= ' new-entry' if @is_ajax %><%= ' spam-entry' if entry.spam %>">
		<div class="share-links">
			<a href="http://facebook.com/sharer.php?u=http://morethingsneed.to/<%= entry.id %>"><img src="/images/facebook_icon.gif" alt="Post this on Facebook" title="Post this on Facebook" /></a>
			<a href="<%= twitter_link(entry) %>"><img src="/images/twitter_icon.gif" alt="Tweet this" title="Tweet this" /></a>
		</div>

	  <% if @is_ajax -%>
	    You crapped this out just now.
	  <% else -%>
		  <%= entry.user ? link_to(entry.user.username, user_entries_path(entry.user)) : 'Someone' %><%= ' (' + entry.ip + ')' if entry.spam %> crapped this out on <span class="time"><%= datetime_written_out(entry) %></span>.
		<% end -%>
	</div> <!-- /header -->

	<div class="section">
		<div class="section-links">			
			<% form_for [entry, Vote.new], :html => { :id => 'new_up_vote_' + entry.id.to_s } do |f| -%>
			  <fieldset>
  				<%= f.hidden_field :up_vote, :value => 1, :id => 'vote_up_vote_' + entry.id.to_s %>
  				<%= f.submit 'Vote Up', :id => 'vote_up_vote_submit' + entry.id.to_s, :class => 'vote-button vote-up-button' %>
  			</fieldset>
			<% end -%> This needs to happen <span class="up_vote_count"><%= vote_counts(entry, 'up') %></span><br />
			<% form_for [entry, Vote.new], :html => { :id => 'new_down_vote_' + entry.id.to_s } do |f| -%>
			  <fieldset>
  				<%= f.hidden_field :up_vote, :value => 0, :id => 'vote_down_vote' + entry.id.to_s %>
  				<%= f.submit 'Vote Down', :id => 'vote_down_vote_submit' + entry.id.to_s, :class => 'vote-button vote-down-button' %>
  			</fieldset>
			<% end -%> This doesn't need to happen <span class="down_vote_count"><%= vote_counts(entry, 'down') %></span>
		</div> <!-- /section-links -->

		<div class="section-content">
			<p>More <%= h entry.noun %> <%= (entry.needs) ? 'needs' : 'need' %> to <%= h punctuate(entry.verb) %></p>
			<p class="comment-links">
				<strong><%= comment_link(entry) %></strong>
				<% unless params[:action] == 'show' -%>
				- <%= add_comment_link(entry) %>
				<% end -%>
				<% if is_admin -%>
				  - <%= toggle_spam_link(entry) %>
				<% end -%>
			</p>
			<div class="clear"></div>
		</div> <!-- /section-content -->		
	</div> <!-- /section -->
</div> <!-- /article -->
