<div class="article">
	<div class="header">
	  <% if entry.spam %><strong>SPAM</strong> -<% end %>
		<%= entry.user ? link_to(entry.user.username, user_entries_path(entry.user)) : 'Someone' %> crapped this out on <span class="time"><%= entry.created_at.to_s(:written_out) %></span>.
		
		<div class="share-links">
			<a href="http://facebook.com/sharer.php?u=http://morethingsneed.to/<%= entry.id %>"><img src="/images/facebook_icon.gif" alt="Post this on Facebook" title="Post this on Facebook" /></a>
			<a href="<%= twitter_link(entry) %>"><img src="/images/twitter_icon.gif" alt="Tweet this" title="Tweet this" /></a>
		</div>
	</div> <!-- /header -->

	<div class="section">
		<div class="section-links">			
			<% form_for [entry, Vote.new], :html => { :id => 'new_up_vote_' + entry.id.to_s } do |f| -%>
				<%= f.hidden_field :up_vote, :value => 1, :id => 'vote_up_vote_' + entry.id.to_s %>
				<%= image_submit_tag('/images/icon_vote_up.png', :id => 'vote_up_vote_submit' + entry.id.to_s, :class => 'vote-button vote-up-button') %>
			<% end -%> This needs to happen <span class="up_vote_count"><%= vote_counts(entry, 'up') %></span><br />
			<% form_for [entry, Vote.new], :html => { :id => 'new_down_vote_' + entry.id.to_s } do |f| -%>
				<%= f.hidden_field :up_vote, :value => 0, :id => 'vote_down_vote' + entry.id.to_s %>
				<%= image_submit_tag('/images/icon_vote_down.png', :id => 'vote_down_vote_submit' + entry.id.to_s, :class => 'vote-button vote-down-button') %>
			<% end -%> This doesn't need to happen <span class="down_vote_count"><%= vote_counts(entry, 'down') %></span>
		</div> <!-- /section-links -->

		<div class="section-content">
			<p>More <%= h entry.noun %> <%= (entry.needs) ? 'needs' : 'need' %> to <%= h entry.verb %>.</p>

			<div class="section-links-mobile">			
				<% form_for [entry, Vote.new], :html => { :id => 'new_up_vote_' + entry.id.to_s } do |f| -%>
					<%= f.hidden_field :up_vote, :value => 1, :id => 'vote_up_vote_' + entry.id.to_s %>
					<%= image_submit_tag('/images/icon_vote_up.png', :id => 'vote_up_vote_submit' + entry.id.to_s, :class => 'vote-button vote-up-button') %>
				<% end -%> This needs to happen <span class="up_vote_count"><%= vote_counts(entry, 'up') %></span><br />
				<% form_for [entry, Vote.new], :html => { :id => 'new_down_vote_' + entry.id.to_s } do |f| -%>
					<%= f.hidden_field :up_vote, :value => 0, :id => 'vote_down_vote' + entry.id.to_s %>
					<%= image_submit_tag('/images/icon_vote_down.png', :id => 'vote_down_vote_submit' + entry.id.to_s, :class => 'vote-button vote-down-button') %>
				<% end -%> This doesn't need to happen <span class="down_vote_count"><%= vote_counts(entry, 'down') %></span>
			</div> <!-- /section-links-mobile -->
			
			<p class="comment-links">
				<strong><%= link_to pluralize(entry.comments.find_all_by_spam(false).count, 'thoughtful critique'), entry %></strong>
				- <%= link_to 'Add a non-impulsive, well-researched thought', entry_path(entry) + '#comment' %>
				<% if is_admin -%>
				  - <%= link_to(entry.spam ? 'Mark as legit' : 'Mark as spam', '#', :class => 'spam-link') %>
				  <% form_for entry do |f| -%>
				    <% new_spam_value = entry.spam ? 0 : 1 %>
				    <%= f.hidden_field :spam, :value => new_spam_value %>
				  <% end -%>
				<% end -%>
			</p>
			<div class="clear"></div>
		</div> <!-- /section-content -->		
	</div> <!-- /section -->
</div> <!-- /article -->
