%article.entry.separated
  %header.padded
    .pull-right= link_to "##{entry.id}", entry, title: "Entry ##{entry.id}"
    %span
      = entry.user.name
      crapped this out.
  .padded
    %p= "More #{entry.noun} #{entry.needs ? "needs" : "need"} to #{entry.verb}."
    - unless params[:action] == "show"
      %small= link_to(entry.comments.count > 0 ? "Read comments" : "Comment", entry)
