<div id="footer">
  <div id="footer-content">
    <h3>More Things Need To</h3>

    <ul>
      <li>
        <span>Entries</span>
        <ul>
          <li><%= link_to 'Newest', entries_path %></li>
          <li><%= link_to 'Oldest', entries_path(:oldest => 1) %></li>
          <li><%= link_to 'Best', entries_path(:best => 1) %></li>
          <li><%= link_to 'Worst', entries_path(:worst => 1) %></li>
          <li><%= link_to 'Most Discussed', entries_path(:discussed => 1) %></li>
        </ul>
      </li>
      <li>
        <span>Information</span>
        <ul>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
          <li><%= link_to 'Privacy', privacy_path %></li>
          <li><%= link_to 'Contact', contact_index_path %></li>
        </ul>
      </li>
      <li>
        <span>Accounts</span>
        <% if current_user %>
          <ul>
            <li><%= link_to 'Your Entries', user_entries_path(current_user) %></li>
            <li><%= link_to 'Edit Account', profile_path %></li>
            <li><%= link_to 'Log Out', logout_path %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to 'Register', register_path %></li>
            <li><%= link_to 'Log In', login_path %></li>
            <li><%= link_to 'Reset Password', new_password_reset_path %></li>
            <li><%= link_to 'Resend Activation', new_activation_path %></li>
          </ul>
        <% end %>
      </li>
      <li>
        <span>Connect</span>
        <ul>
          <li><%= link_to 'Facebook', 'http://www.facebook.com/pages/More-Things-Need-To/458775175458' %></li>
          <li><%= link_to 'Twitter', 'http://twitter.com/morethingsneed2' %></li>
          <li><%= link_to 'RSS', 'http://feeds.feedburner.com/morethingsneedto' %></li>
        </ul>
      </li>
    </ul>

  	<p>Announcing the necessity for increased frequency of things occurring since 2010. &copy; <%= Time.new.year %> <a href="http://www.transparentgorilla.com/">Transparent Gorilla</a>. All rights reserved.</p>
  </div>
</div> <!-- /footer -->
