<% title 'Authors' %>

<div id="page-header">
  <h1>Authors</h1>
  <div class="clear"></div>
</div>

<% @users.each do |user| %>
  <div class="article">
    <div class="header">
      <div class="share-links">
        Member since <%= datetime_written_out(user) %>
      </div>
      <%= user.username %>
    </div>
    <div class="section">
      <dl class="user-stats">
        <dt>Entries added:</dt>
        <dd><%= user.entries.count %></dd>

        <dt>Votes cast:</dt>
        <dd><%= user.votes.count %></dd>

        <dt>Comments made:</dt>
        <dd><%= user.comments.count %></dd>

        <dt>Comments received:</dt>
        <dd><%= user.received_comments.count %></dd>

        <div class="clear"></div>
      </dl>

      <% if user.entries.count > 0 %>
        <br />
        <%= link_to "Read #{user.username}'s entries",  user_entries_path(user) %>
      <% end %>
    </div>
  </div>
<% end %>

<%= will_paginate @users %>
