<% title 'Frequently Asked Questions' %>

<h1>Frequently Asked Questions</h1>

<dl>
  <dt>What is the purpose of this site?</dt>
  <dd>
    <strong>More Things Need To</strong> is a collection of funny lines in the format "more ____ need to ____." For example, <em>more websites need to be explained on FAQ pages</em>. If you're familiar with <%= link_to 'Mad Libs', 'http://en.wikipedia.org/wiki/Mad_Libs' %>, you can think of <strong>More Things Need To</strong> as a collection of very specifically formatted Mad Libs.
  </dd>
  
  <dt>Where do the lines come from?</dt>
  <dd>
    From you! The content of <strong>More Things Need To</strong> is entirely user-submitted. Come up with your own and submit as many as you like.
  </dd>
  
  <dt>How do I submit a new one?</dt>
  <dd>
    You submit a new entry by using the form in the bar at the top of each page. Simply fill in a noun phrase, a verb phrase, select the appropriate form of "need/needs" from the drop down menu so that the sentence reads correctly, and hit the big orange button!
  </dd>
  
  <dt>Do I need to register an account to submit?</dt>
  <dd>
    Absolutely not. All the features of <strong>More Things Need To</strong> are available to everyone.
  </dd>
  
  <dt>What is the benefit of registering?</dt>
  <dd>
    With a registered account, all submissions and comments you make are automatically attributed to you. You can use it as a way of signing your submissions. It also gives you the ability to keep track of all the submissions you've made in the past.
  </dd>
  
  <dt>Are submissions moderated or filtered for content?</dt>
  <dd>
    There are a few rules automatically enforced when you submit a new entry, but they are mostly in place to make sure entries are readable and to prevent spam. Entries are not moderated and will appear in the collection instantly. There is no content filtering, so be aware that entries can and will be R-rated and even X-rated.
  </dd>
  
  <dt>How does commenting work? Do I need to sign up?</dt>
  <dd>
    Each submission has a thread of comments associated with it, just like on a standard blog. Anyone can add comments to entries. You may optionally include your name with your comment. You do not need to have an account to post comments, but if you do, your name will be automatically filled in for you.
  </dd>
  
  <dt>How does voting work?</dt>
  <dd>
    Each entry contains buttons for voting up or down. Anyone may vote on entries, but only one time for each entry. Vote up the entries you like and find funny, and vote down the entries you find dull or stupid.
  </dd>
  
  <dt>What is the criteria for "best" and "worst?"</dt>
  <dd>
    The best entries are sorted by the highest number of up votes. Likewise, the worst entries are sorted by the highest number of down votes.
  </dd>
  
  <dt>Who created this site?</dt>
  <dd>
    <strong>More Things Need To</strong> was created by <%= link_to 'Transparent Gorilla', 'http://www.transparentgorilla.com/' %>, a web production team consisting of <%= link_to 'Jimmy Cuadra', 'http://www.jimmycuadra.com/' %> and <%= link_to 'Michael Chadwick', 'http://nebyooweb.com/' %>. Get in touch with us via the <%= link_to 'contact page', contact_index_path %>.
  </dd>
  
  <dt>My question isn't answered here. How can I have it answered?</dt>
  <dd>
    Head on over to the <%= link_to 'contact page', contact_index_path %> and send us a message.
  </dd>
</dl>
