= render "errors" if @identity.errors.any?

= form_tag "/auth/identity/register" do
  %fieldset
    %legend Register
    = label_tag :name
    = text_field_tag :name, @identity.name
    = label_tag :email
    = text_field_tag :email, @identity.email
    = label_tag :password
    = password_field_tag :password
    = label_tag :password_confirmation
    = password_field_tag :password_confirmation
    %br
    = submit_tag "Register", class: "btn"
