<p>Got a comment? A question? Love the site? Hate it? Found a bug?</p>

<p>Send us a message with the form below so that we can ignore you.</p>

<% form_for @contact, :url => { :controller => 'contact', :action => 'create' } do |f| -%>
	<fieldset>
		<legend>Write something we won't read</legend>
		<%= render_error_messages @contact %>
		<ol>
			<li>			
				<%= f.label :email, nil, :class => 'pot' %>
				<%= f.text_field :email, :class => 'pot' %>
			</li>
			
			<% unless current_user -%>
				<li>			
					<%= f.label :name %>
					<%= f.text_field :name %>
				</li>
				<li>		
					<%= f.label :real_email, 'E-mail' %>
					<%= f.text_field :real_email %>
				</li>
			<% end -%>
			
			<li>	
				<%= f.label :message %>
				<%= f.text_area :message %>
			</li>
			<li>	
				<%= f.submit 'Hear me out!' %>
			</li>
		</ol>
	</fieldset>
<% end -%>