!!! 5
%html{ lang: "en" }
  %head
    %title More Things Need To
    = stylesheet_link_tag "application"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
  %body
    %noscript
      .container-fluid
        .page-header
          %h1
            More Things Need To
            %small You need to enable JavaScript in your browser to use More Things Need To.
    .bucket
      #main.container
        = yield
    %footer.copyright
      %small= "&copy; #{Time.now.year} Jimmy Cuadra. All rights reserved.".html_safe
    %script{ src: "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
    = javascript_include_tag "application"
    = yield :javascript
