<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8 />
	<title>morethingsneed.to</title>
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript" charset="utf-8"></script><![endif]-->
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
	<!--[if IE]>
		<link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen" charset="utf-8" />
	<![endif]-->
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', 'application' %>
</head>
<body>
	<div id="bucket">
		<header>
			<h1><a href="/">morethingsneed.to</a></h1>
		</header>
		
		<% if flash[:notice] -%>
		<div class="flash">
			<%= flash[:notice] %>
		</div>
		<% end -%>
		<section id="content">
			<%= render :partial => 'entries/add' %>
			<nav>
				<%= link_to 'Newest', root_path %> -
				<%= link_to 'Oldest', root_path + '?oldest' %> -
				<%= link_to 'Best', root_path + '?best' %> -
				<%= link_to 'Worst', root_path + '?worst' %> -
				<%= link_to 'About', about_path %> -
				<%= link_to 'Contact', contact_index_path %>
				<span class="user">
					<% if current_user %>
						Logged in as <strong><%= current_user.username %></strong> - 
						<%= link_to 'Account', profile_path %> -
						<%= link_to 'Log out', logout_path %>
					<% else %>
						<%= link_to 'Register', register_path %> -
						<%= link_to 'Log in', login_path %>
					<% end %>					
				</span>
			</nav>
			
			<%= yield %>
		</section>
	</div>
	<footer>
		Announcing the necessity for increased frequency of things occurring since 2009.<br />
		&copy; 2009 Jimmy Cuadra and Michael Chadwick.
	</footer>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-5500916-10");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>