<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8 />
	<title>morethingsneed.to</title>
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript" charset="utf-8"></script><![endif]-->
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" id="main_style" />
	<!--[if IE]>
		<link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen" charset="utf-8" />
	<![endif]-->
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', 'jquery.cookie', 'application' %>
</head>
<body>
	<div id="bucket">
		<header>
			<h1><a href="/">morethingsneed.to</a></h1>
			<% if flash[:notice] -%>
			<div class="flash">
				<%= flash[:notice] %>
				<div class="close"></div>
			</div>
			<% end -%>
		</header>
		
		<form id="style_switcher" method="post">
			<input type="submit" rel="/stylesheets/screen.css" id="desktop" value="Desktop" />
			<input type="submit" rel="/stylesheets/screen-mobile.css" id="mobile" value="Mobile" />
		</form>
		
		<section id="content"<%= ' class="main"' if params[:controller] == 'entries' && params[:action] == 'index' %>>
			<%= render :partial => 'entries/add' %>
			<nav>
				<%= link_to_unless ((params[:controller] == 'entries' && params[:action] && !(params.key?(:best) || params.key?(:worst) || params.key?(:oldest))), 'Newest', root_path) %> -
				<%= link_to_unless params.key?(:oldest), 'Oldest', root_path + '?oldest' %> -
				<%= link_to_unless params.key?(:best), 'Best', root_path + '?best' %> -
				<%= link_to_unless params.key?(:worst), 'Worst', root_path + '?worst' %> -
				<%= link_to_unless ((params[:controller] == 'about'), 'About', about_path) %> -
				<%= link_to_unless ((params[:controller] == 'contact'), 'Contact', contact_index_path) %>
				<span class="user">
					<% if current_user %>
						Logged in as <strong><%= current_user.username %></strong> - 
						<%= link_to_unless ((params[:controller] == 'users' && params[:action] == 'edit'), 'Account', profile_path) %> -
						<%= link_to 'Log out', logout_path %>
					<% else %>
						<%= link_to_unless ((params[:controller] == 'users' && params[:action] == 'new'), 'Register', register_path) %> -
						<%= link_to_unless ((params[:controller] == 'user_sessions' && params[:action] == 'new'), 'Log in', login_path) %>
					<% end %>					
				</span>
			</nav>
			<div id="logbox">
				<%= render :partial => 'user_sessions/new' %>
			</div>
			
			<%= yield %>
		</section>
	</div>
	<footer>
		Announcing the necessity for increased frequency of things occurring since 2009.<br />
		&copy; 2009 Jimmy Cuadra and Michael Chadwick.
	</footer>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-5500916-10");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>