<!DOCTYPE html>
<html lang="en">
<head>
  <title>More Things Need To</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render :partial => "google_analytics" if Rails.env.production? %>
</head>
<body class="ocotillo">
  <div class="monsoon">
    <header class="line heading spaced cactus main-header">
      <div class="container">

        <h1 class="unit heading logo">
          <a href="/"><span>More Things</span> <span>Need To</span></a>
        </h1>

        <nav class="unit main-nav">
          <ul class="line">
            <li class="unit"><a href="/">Entries</a></li>
            <li class="unit"><a href="/">Authors</a></li>
            <li class="unit"><a href="/">FAQ</a></li>
          </ul>
        </nav>

        <div class="last-unit main-nav login">Login</div>

      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </div> <!-- /page -->
  <%= javascript_include_tag "application" %>
</body>
</html>
