!!! 5
%html{ lang: "en"}
  %head
    %title More Things Need To
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    = render "production_scripts" if Rails.env.production?
  %body.ocotillo
    .stripe.monsoon
      = render "site_header"
      .container.spaced= yield
    = render "site_footer"
    = javascript_include_tag (Rails.env.production? ? "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" : "jquery")
    = javascript_include_tag "application"
