<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>morethingsneed.to</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/morethingsneedto" />
	<%= stylesheet_link_tag 'reset', 'screen', :cache => 'mtnt' %>
	<!--[if IE]>
		<%= stylesheet_link_tag 'ie' %>
	<![endif]-->
	<%= javascript_include_tag 'jquery.min.js', 'core', 'form-defaults', 'flash', 'userbox', 'entry', 'vote', 'comment', 'contact', 'application', :cache => 'mtnt' %>
</head>
<body>
	<div id="bucket">
	
	<div id="header">
		<a href="/" id="title-link" title="More Things Need To">More Things Need To</a>
		<%= render :partial => 'entries/add' %>
		
    <%= render :partial => 'partials/nav' %>

		<div id="userbox-wrapper">
			<div id="register-box" class="userbox">
				<%= render :file => 'users/new' %>
			</div>

			<div id="login-box" class="userbox">
				<%= render :file => 'user_sessions/new' %>
			</div>
		</div>
		
		<div class="flash<%= ' success' if flash[:success] %><%= ' hidden' unless flash[:error] or flash[:success] -%>">
			<div class="close hidden"></div>
			<div class="message">
  			<%= flash[:error] or flash[:success] %>
			</div>
			<div class="errors">
  			<% [@new_entry, @comment, @contact, @user, @user_session].each do |o| %>
  			  <%= render_error_messages o if o %>
  			<% end -%>
			</div>
		</div>

	</div> <!-- /header -->
	
	<div id="content"<%= ' class="main"' if params[:controller] == 'entries' && params[:action] == 'index' %>>
		<%= yield %>
	</div> <!-- /content -->
	
	<div id="footer">
		<p>
		Announcing the necessity for increased<br />
		frequency of things occurring since 2010.<br />
		&copy; <%= Time.new.year %> <a href="http://www.transparentgorilla.com/">Transparent Gorilla</a>. All rights reserved.
		</p>
	</div> <!-- /footer -->
	
	</div> <!-- /bucket -->
	
  <%= render :partial => 'partials/ga_tracking' unless request.env['HTTP_HOST'] =~ /^dev/ %>
</body>
</html>
